<app-action-bar></app-action-bar>
<StackLayout class="p-20">
    <Button text="add-expense works!" class="btn btn-primary"></Button>
    <Label text='{{myval}}' class = "h2 text-center" textWrap="true"></Label>
    <Button text="Change Value" (tap)="changeVal()" class="-primary"></Button>
    <Button text="Go Back" (tap)="goBack()" class="-primary"></Button>

    <TextField 
        hint="Say something"
        maxLength = 10
        autocorrect='false'
        (returnPress)="onReturnPress($event)"
        ></TextField>
        

</StackLayout>