<app-action-bar></app-action-bar>
<!-- <GridLayout columns="*,*", rows="*,*,*,*"> -->
<StackLayout class=p-20>
    <Label text="Expense name"></Label>
    <TextField 
    hint="Expense Name"
    maxLength = 10
    autocorrect='false'
    (returnPress)="onReturnPress($event)"
    ></TextField>

    <Label text="Expense name"></Label>

    

    <Button text="{{transactionLabel}}" (tap)="changeVal()" class="-primary"></Button>
    <Button text="Cancel" (tap)="goBack()" class="-primary"></Button>

</StackLayout>
<!-- </GridLayout> -->

