<app-action-bar></app-action-bar>
<StackLayout class="p-20">
  <GridLayout rows="auto" columns="*,*" >
    <Button text="Go to Add Expense" (tap)="navigateTo('addExpense')" class="-primary" column='0'></Button>
    <Button text="Go to Categories" (tap)="navigateTo('category')" class="-primary" column='1'></Button>
  </GridLayout>

  <GridLayout rows="auto" columns="*,*,auto">
    <Label text="{{getDateString(startDate) | date:shortDate}}" column="0"></Label>
    <Label text="{{getDateString(endDate) | date:shortDate}}" column="1"></Label>
    <Button text="GEAR" column="2"></Button>
  </GridLayout>

  
  <!-- <Label text='CHART AREA' textAlignment='center' fontSize=30 height=200 background='#82CAFF'></Label> -->
  <RadPieChart allowAnimation="true" height = "250">
    <DonutSeries tkPieSeries
            selectionMode="DataPoint"
            expandRadius="0.4"
            outerRadiusFactor="0.7"
            innerRadiusFactor="0.4"
            valueProperty="spent"
            legendLabel="categoryName"
            showLabels="true"
            [items]="pieValues"
    ></DonutSeries>
    <RadLegendView tkPieLegend position="Right" title="Category" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
  </RadPieChart>


  
  <!-- <Button text="Go to Edit Expense" (tap)="navigateTo('editExpense/91fa7a07-8e0c-44e9-9c8b-6b14b380cb3f')" class="-primary"></Button> -->
  <!-- <Button text="Go to Edit Expense" (tap)="navigateTo('editExpense/093fca35-e612-471c-9956-577b36d7e461')" class="-primary"></Button> -->
  
  <!-- <Button text="Go to Add Category" (tap)="navigateTo('addCategory')" class="-primary"></Button> -->





</StackLayout>
