<app-action-bar abTitle=""></app-action-bar>
<StackLayout>
    <Button text="New Category" (tap)="newCategory()"></Button>
    <ScrollView>
        <StackLayout>
            <div *ngFor="let categoryName of categoryNames">
                <GridLayout rows="40" columns="50,*,*">
                    <!-- <Label [text]="categoryName.name" class="text-center"></Label> -->
                    <Image [src]="categoryName.categoryIMG" stretch="aspectFit" height = "20" row="0" column="0"></Image>
                    
                    <Label [text]="categoryName.categoryName" class="text-center" column="1"></Label>
                    <Button text="Edit" (tap)="editCategory(categoryName.id)" row="0" column="2"></Button>
                </GridLayout>
            </div>
        </StackLayout>
        
    </ScrollView>
    




        <!-- <ListView [items]="categoryNames" (itemTap)=buttonPress($event)>
            <ng-template let-item="item" >
                <Label id="item.name" [text]="item.name"></Label>
            </ng-template>
        </ListView> -->
</StackLayout>

    

