<app-action-bar abTitle=""></app-action-bar>
<StackLayout class="main-container">
    <Button text="New Category" (tap)="newCategory()" class="my-ui-button"></Button>
    <ScrollView>
        <StackLayout>
            <div *ngFor="let categoryName of categoryNames">
                <GridLayout rows="40" columns="*,2*,*,*">
                    <!-- <Label [text]="categoryName.name" class="text-center"></Label> -->
                    <Image [src]="categoryName.categoryIMG" stretch="aspectFit" height = "35" row="0" column="0"></Image>
                    
                    <Label [text]="categoryName.categoryName" class="text-center" column="1"></Label>
                    <Button text="&#xf044;" (tap)="editCategory(categoryName.id)" row="0" column="2" class="my-ui-button fa"></Button>
                    <Button text="&#xf2ed;" (tap)="deleteCategory(categoryName.id)" row="0" column="3" class="my-ui-button fa"></Button>
                </GridLayout>
            </div>
        </StackLayout>
        
    </ScrollView>
    




        <!-- <ListView [items]="categoryNames" (itemTap)=buttonPress($event)>
            <ng-template let-item="item" >
                <Label id="item.name" [text]="item.name"></Label>
            </ng-template>
        </ListView> -->
</StackLayout>

    

