<!-- <page-router-outlet></page-router-outlet> -->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
		<StackLayout row="0" class="sidedrawer-header">
			<Image src="res://test_icon_1" height="100" width="100" stretch="aspectFit" background='white'></Image>
			<Label text="What would you like to do?" class="intro-message"></Label>
			<!-- <Label text="username@mail.com"></Label> -->
		</StackLayout>
		<ScrollView row="1" class="drawer-scroll">
			<StackLayout>
			<GridLayout rows="auto" columns="auto,*" (tap)="onNavigate('addExpense')" class="line-item button">
				<!-- <Label col=0 imageSource="res://test_icon_1"></Label> -->
				<Image src="res://test_icon_1" height="40" stretch="aspectFit"></Image>
				<Label col=1 text="Add Expense" class="line-text"></Label>
			</GridLayout>
			<GridLayout columns="auto,*" (tap)="onNavigate('category')" class="line-item">
				<Image src="res://test_icon_1" height="40" stretch="aspectFit"></Image>
				<Label col=1 text="Categories" class="line-text"></Label>
			</GridLayout>
			<GridLayout columns="auto,*" (tap)="onNavigate('settings')" class="line-item">
				<Image src="res://test_icon_1" height="40" stretch="aspectFit"></Image>
				<Label col=1 text="System Settings" class="line-text"></Label>
			</GridLayout>
			<GridLayout columns="auto,*" (tap)="onNavigate('logIn')" class="line-item">
				<Image src="res://test_icon_1" height="40" stretch="aspectFit"></Image>
				<Label col=1 text="Data Backup" class="line-text"></Label>
			</GridLayout>
			</StackLayout>
		</ScrollView>

		<!-- <ScrollView row="1">
			<StackLayout class="sidedrawer-content">
				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf015;" class="fa"></Label>
					<Label col="1" text="Home" class="p-r-10"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf1ea;" class="fa"></Label>
					<Label col="1" text="Browse" class="p-r-10"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf002;" class="fa"></Label>
					<Label col="1" text="Search" class="p-r-10"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf005;" class="fa"></Label>
					<Label col="1" text="Featured" class="p-r-10"></Label>
				</GridLayout>

				<StackLayout class="hr-light"></StackLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf013;" class="fa"></Label>
					<Label col="1" text="Settings" class="p-r-10"></Label>
				</GridLayout>
			</StackLayout>
		</ScrollView> -->
	</GridLayout>

	<page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>