 
@import '~@nativescript/theme/css/core.css';
/* @import '~@nativescript/theme/css/blue.css'; */

/* https://coolors.co/143601-1a4301-245501-538d22-73a942-aad576 */
.ns-root {
    --prim: #143601;
    --secun: #1a4301;
    --tert: #245501;
    --tetra: #538d22;
    --fifth: #73a942;
    --sixa: #aad576;
}

.ns-modal{
    --prim: #143601;
    --secun: #1a4301;
    --tert: #245501;
    --tetra: #538d22;
    --fifth: #73a942;
    --sixa: #aad576;
}

TextField{
    color: black;
    placeholder-color: #a4a4a4;
    max-height: 40;
    /* background-color: blue; */
    /* font-size: ; */
}

.my-ui-button{
    background: var(--tert);
    background-color: var(--tert);
    color: white;
}

.my-ui-button:active{
    background: var(--fifth);
    color: white;
}

.sidedrawer-header{
    background: var(--prim);
    color: white;
    padding-top: 25;
}

.drawer-scroll{
    background: linear-gradient(to bottom, var(--prim), var(--tetra), var(--fifth));
    text-align: center
}

.line-item{
    background: var(--tetra);
    /* vertical-align: bottom; */
    border-radius: 4;
    padding-top: 5;
    margin-top: 5;
    margin-left: 10;
    margin-right: 10;
}

.line-item:a{
    background: var(--fifth);
}

.line-text{
    /* vertical-align: bottom; */
    background: var(--sixa);
    color: black;
    height: 40;
    border-radius:4;
    padding-top: 5;
    font-size: 20;

}

.intro-message{
    color: white;
    font-size: 18;
    /* vertical-align: center; */
    text-align: center;
    padding-top: 10;
}



/* .fa {
    font-family: "FontAwesome";
}

.page-content .page-placeholder {
    color: #D7D7D7;
    color: #D7D7D7;
    font-size: 20;
    vertical-align: center;
    horizontal-align: center;
}
.page-content .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    color: #D7D7D7;
    margin-top: 20%;
}

.sidedrawer {
    margin-bottom: -100;
}
.sidedrawer-list-item-icon,.sidedrawer-list-item{
    color: #022734;
}
.sidedrawer.sidedrawer-left {
    background-color: #3A53FF;
}
.sidedrawer.sidedrawer-left .sidedrawer-header-image {
    color: #F8F8F8;
    height: 60;
    width: 60;
    font-size: 60;
    padding: 0;
    margin-bottom: 5;
    margin-top: 20;
}
.sidedrawer.sidedrawer-left .footnote {
    color: rgba(255,255,255,0.5);
}
.sidedrawer .sidedrawer-header {
    background-color: #3A53FF;
    
}
.sidedrawer .sidedrawer-header .sidedrawer-header-brand {
    color: #fff;
}
.sidedrawer .sidedrawer-content{ 
    background-color: #fff;
    background-color: var(--tert);
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item{
    padding-left: 15;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item Label {
    vertical-align: center;
    color: #022734;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item .fa {
    width: 20;
    margin-right: 10;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected {
    background-color: #F8F8F8;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected Label {
    color:#3A53FF;
}
  */