<app-action-bar abTitle="{{transactionLabel}}"></app-action-bar>

<StackLayout [formGroup]="categoryForm" class="main-container" (tap)="onTap()">
    <TextField formControlName="categoryName" hint="Category Name" maxLength="15"></TextField>
    <TextField formControlName="categoryMaxVal" hint="BudgetValue" keyboardType="number" (blur)="validateDecimal()"></TextField>
    <TextField formControlName="categoryRemark" hint="Remark" ></TextField>

    <Label text="Category image" class="p"></Label>

    <!-- <GridLayout tkExampleTitle tkToggleNavButton> -->
    <RadListView id="radListViewItem"
        row="0" [items]="imageAssets" height="300" 
        selectionBehavior="Press" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" dynamicItemSize="false" spanCount="3"></ListViewGridLayout>
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout >
            
                <Image
                    [src]="item.image" height="35" stretch="aspectFit"
                ></Image>
        
            </StackLayout>

        </ng-template>
    </RadListView>

    <!-- </GridLayout> -->
    

    <GridLayout rows="auto" columns="*,*">
        <Button [text]="transactionLabel" (tap)="submitData()" row="0" column="0" class="my-ui-button"></Button>
        <Button text="Cancel" (tap)="goNavigate('category')" row="0" column="1" class="my-ui-button"></Button>
    </GridLayout>
    
</StackLayout>