/* Add mobile styles for the component here.  */
RadDataForm{
    font-size: 15;
}
Label{
    padding-left: 15;
    font-weight: bold;
    font-size: 15;
}

ActivityIndicator{
    color: var(--tert);
}