<app-action-bar abTitle="DevTools"></app-action-bar>

<StackLayout>
    <!-- <Button text="Add Data" class="btn btn-primary" (tap)="addData()"></Button> -->
<Button text="Retrieve Category" class="btn btn-primary" (tap)="retrieveCategory()"></Button>
<Button text="Retrieve Expense" class="btn btn-primary" (tap)="retrieveExpense()"></Button>
<Button text="Initialize Data" class="btn btn-primary" background='green' color='white' (tap)="initData()"></Button>


<Button text="FireStoreBoy" class="btn btn-primary" background='blue' color='white' (tap)="fireStoreButton()"></Button>


<Label text='DANGER ZONE' color='white' background='red' fontSize='40' textAlignment='center'></Label>
<Button text="Delete All Data" class="btn btn-primary" background='pink' color='white' (tap)="deleteData()"></Button>
<Button text="Delete Category" class="btn btn-primary" background='pink' color='white' (tap)="deleteCategory()"></Button>
<Button text="Delete Expense" class="btn btn-primary" background='pink' color='white' (tap)="deleteExpense()"></Button>


</StackLayout>
